/delete-node/ &scratch_partition;
/delete-node/ &storage_partition;

&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		/* 64K */
		lfs_partition: partition@e0000 {
			label = "lfs_storage";
			reg = <0x000e0000 0x00010000>;
		};
	};
};
